{set:$seo_data=array(); $site_config=new Config('site_config');$site_config=$site_config->getInfo();}
{set:$seo_data['title']="用户注册_".$site_config['name']}
{set:seo::set($seo_data);}

<div class="wrapper clearfix">
	<div class="wrap_box">
		<h3 class="notice">用户注册</h3>
		<p class="tips"><span class="gray f_r">已有{echo:$siteConfig->name}帐号？请点<a class="orange bold" href="{url:/simple/login}">这里</a>登录</span>欢迎来到百花味，如果您还未注册，请认真填写以下表单进行注册，以便我们为您提供更好的服务</p>
		<div class="box clearfix">
			<form action='{url:/simple/reg_act}' method='post'>
				<input type="hidden" name='callback' />
				<table class="form_table f_l">
					<col width="260px" />
					<col />
					<tr>
						<th>用户名：</th>
						<td>
							<input class="bhw-input gray" name='username' type="text" pattern="^[\w\u0391-\uFFE5]{2,20}$" alt="填写2-20个字符，可以为字数，数字下划线和中文" />
							<label>请填写用户名，格式为2-20个字符，可以为字数，数字下划线和中文</label>
						</td>
					</tr>
					<tr>
						<th>设置密码：</th>
						<td>
							<input class="bhw-input gray" type="password" name='password' pattern="^\S{6,32}$" bind='repassword' alt='填写6-32个字符' />
							<label>填写登录密码，6-32个字符</label>
						</td>
					</tr>
					<tr>
						<th>确认密码：</th>
						<td>
							<input class="bhw-input gray" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' alt='重复上面所填写的密码' />
							<label>重复上面所填写的密码</label>
						</td>
					</tr>
					<tr>
						<th>验证手机：</th>
						<td>
							<input class="bhw-input gray" type="text" name='mobile' pattern="^1\d{10}$" alt="填写正确的手机号码" />
							<label>填写正确的手机号码</label>
						</td>
					</tr>
					<tr>
						<th>短信验证码：</th>
						<td>
							<input type='text' class='bhw-input gray_s' name='mobilecode' pattern='^\d{6}$' alt='填写手机短信验证码' />
							<button id="getMobileCode" class="bhw-btn-default">获取短信验证码</button>
							<!-- <label>填写手机短信验证码</label> -->
						</td>
					</tr>
					<!-- <tr><th>验证码：</th><td><input type='text' class='gray_s' name='captcha' pattern='^\w{5,10}$' alt='填写下面图片所示的字符' /><label>填写下面图片所示的字符</label></td></tr>
					<tr class="low"><th></th><td><img src='{url:/simple/getCaptcha}' id='captchaImg' /><span class="light_gray">看不清？<a class="link" href="javascript:changeCaptcha('{url:/simple/getCaptcha}');">换一张</a></span></td></tr> -->
					<tr><td></td><td><input class="submit_reg" type="submit" value="同意一下条款，提交" /><label></label></td></tr>
				</table>
			</form>
			<div class="agreement gray">
			  <p>一、尊敬的百花味网用户，本协议为您与百花味网（域名为 baihuawei.com）管理者之间所订立的契约，具有合同的法律效力，在注册前请您仔细阅读如下服务条款：
（本协议内容中以黑体方式显著标识的条款，请用户着重阅读）</p>
<p>1、用户在注册百花味网会员前，需仔细阅读并完全理解本协议内容及百花味网公布的其他服务规则（以下统称为“服务条款”），如果用户不同意受该等服务条款的约束，应停止注册程序并停止使用百花味网服务。
<p>无论您事实上是否在注册之前认真阅读了本服务协议，只要您点击协议正本下方的"注册新用户"按钮并按照本网站注册程序成功注册为用户，您的行为仍然表示您同意并签署了本服务协议。</p>
</p>
<p>2、服务条款的接受：</p>
<p>2.1：本协议所称的“用户”是指完全同意所有服务条款并完成注册程序的具备完全民事行为能力的自然人或者是具有合法经营资格的实体组织。</p>
<p>2.2：用户注册、使用百花味网的行为即表示其已经完全同意并自愿接受服务条款的约束。</p>
<p>2.3：百花味网通过其网站不定时发布的各项规则、公告、通知等为本协议不可分割的一部分。</p>
</p>
<p>3、服务条款的变更和修改</p>
<p>百花味网有权根据运营需要随时对服务条款进行修改，修改后的服务条款一经在百花味网上公示即生效，百花味网不再另行向用户发送修改通知。用户可随时登陆百花味网查阅最新服务条款，用户有义务不时关注并阅读最新版的服务条款及网站公告。用户如果不同意服务条款的修改，可以主动取消或放弃已经获得的网络服务；如果用户继续享用网络服务，则视为用户已经接受服务条款的修改。 </p>
</p>
<p>4、服务说明：
<p>4.1：百花味网通过国际互联网向用户提供丰富的网上资源，包括各种资讯文章、网上论坛、网上购物、个性化内容和服务（以称简称“网络服务”）等。除非另有明确规定，百花味网完善目前网络服务的任何功能，包括推出新产品，均无条件地适用本协议。</p>
<p>4.2：百花味网不保证网络服务一定会满足用户的所有使用要求，也不保证网络服务不会短暂中断，对网络服务的及时性、安全性、准确性也不作担保。</p>
<p>4.3：为使用网络服务，用户必须：</p>
<p>4.3.1：自行配备进入国际互联网所必需的设备，包括但不限于计算机或其他上网终端、调制解调器或其他存储装置；</p>
<p>4.3.2：自行支付与网络服务有关的费用，包括但不限于网络接入费、手机流量费等。</p>
<p>4.4：用户接受网络服务须同意：</p>
<p>4.4.1：提供完整、真实、准确的个人资料；</p>
<p>4.4.2：不断更新个人注册资料，以符合上述4.4.1款的要求。</p>
<p>4.4.3：若用户提供任何错误、不实、过时或不完整的资料，并为百花味网所知悉；或者百花味网有合理理由怀疑前述资料为错误、不实、过时或不完整，百花味网有权暂停或终止向用户提供网络服务，冻结或关闭用户账户，并拒绝用户现在或将来使用网络服务的全部或一部分。</p>
<p>4.5：百花味网基于交易秩序、交易安全以及公平原则的考虑，有权在用户发生恶意购买等扰乱正常交易秩序情形下，单方关闭用户交易订单，并不承担任何违约责任。</p>
</p>
<p>5、用户应遵守以下法律及法规：
5.1：用户同意遵守《中华人民共和国保守国家秘密法》、《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理侵害信息网络传播权民事纠纷案件适用法律若干问题的规定》（法释[2012]20号）、《互联网著作权行政保护办法》等有关计算机及互联网规定的法律和法规、实施办法。在任何情况下，百花味网合理地认为用户的行为可能违反上述法律、法规，百花味网可以在任何时候，不经事先通知而终止向该用户提供网络服务。
5.2：用户应了解国际互联网的无国界性，应特别注意遵守当地有关的法律和法规。
</p>
<p>6、禁止用户从事以下行为：</p>
<p>6.1：上载、张贴、发送电子邮件或传送任何非法、有害、胁迫、骚扰、侵害、中伤、粗俗、猥亵、诽谤、淫秽、侵害他人隐私、种族歧视或其他另人不快的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料（以下简称“内容”）。 </p>
<p>6.2：以任何方式危害未成年人。</p>
<p>6.3：冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为与任何人或任何机构有关。</p>
<p>6.4：伪造标题或以其他方式发布信息，使人误认为该内容为百花味网所发布。</p>
<p>6.5：将侵犯他人专利、商标、著作权、商业秘密或其他专属权利之内容加以上载、张贴、发送电子邮件或以其他方式传送。</p>
<p>6.6：将无权传送的内容进行上载、张贴、发送电子邮件或以其他方式传送。</p>
<p>6.7：将广告函件、促销资料、垃圾邮件等，加以上载、张贴、发送电子邮件或以其他方式传送（供前述目的使用的专用区域除外）。</p>
<p>6.8：将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送。<p>
<p>6.9：干扰或破坏网络服务或与网络服务相连的服务器和网络。</p>
<p>6.10：以虚构或歪曲事实的不当方式评论其他用户、商品信息等。</p>
<p>6.11：违反任何相关的中国法律、法规、规章、条例或其他具有法律效力的规范性文件。 </p>
用户有上述行为的，百花味网有权单方立即终止向用户提供网络服务，并保留追究用户法律责任的权利。</p>
</p>
<p>7、用户隐私权制度：</p>
<p>7.1：当用户注册成为百花味网会员时，用户须按照注册流程提示提供个人信息，当用户在百花味网上产生购买行为时，为保证双方交易的完成，用户需按照购买提示向百花味网提供个人信息。百花味网收集个人信息的目的是为向用户提供尽可能多的个人化网络服务以及执行双方交易行为，除非用户同意，百花味网保证不会故意向第三方透露用户信息，但以下情形除外：</p>
<p>7.1.1：根据有关法律、法规规定或百花味网合法服务程序规定； </p>
<p>7.1.2：在紧急情况下，为维护用户及公众的权益； </p>
<p>7.1.3： 维护百花味网的商标权和其他相关知识产权或权益。</p>
<p>7.2：在以下（包括但不限于）几种情况下，用户同意百花味网使用或公开用户的个人信息：</p>
<p>7.2.1：在进行促销或抽奖活动时时，百花味网可能会与赞助商共享用户的个人信息，在该情况下百花味网会在发送用户信息之前进行提示，并且用户可以通过不参与活动的方式要求百花味网终止向赞助商发送个人信息。 </p>
<p>7.2.2：百花味网可以将用户信息与第三方数据匹配。</p> 
<p>7.2.3：用户购买百花味网商品时，百花味网获得的信息（例如用户的信用卡号和联系信息）会提供给银行或其他第三方支付商家以配合用户完成支付。</p>
</p>
<p>8、邮件、短彩信服务规则：</p>
<p>用户同意百花味网有权通过邮件、短信、彩信等形式向用户发送订单信息、促销活动公告等，如果用户不想接收来自百花味网除订单信息以外的邮件和短信，用户需及时通知百花味网，百花味网会为用户办理退阅。</p>
</p>
<p>9、用户账户、密码和安全：</p>
<p>9.1：用户在百花味网注册成功后将得到一个密码和账户。用户有义务保证密码和账户的安全，用户对利用该密码和账户所进行的一切活动负全部责任；</p>
<p>9.2：用户的密码和账户若遭到未授权的使用或发生其他任何安全问题，用户应立即通知百花味网，并应结束账户使用，否则用户账户可能得不到百花味网的安全保护。</p>
</p>
<p>10、用户信息发布声明：</p>
<p>10.1：用户对经由百花味网上载、张贴、发送电子邮件或传送的内容负全部责任。 </p>
<p>10.2：百花味网有权利在下述情况下，对用户在百花味网发布的内容或发布方相关资料进行保存或披露：</p>
<p>10.2.1：法律程序所规定；</p>
<p>10.2.2：本协议规定；</p>
<p>10.2.3：被侵害的第三人提出权利主张；</p>
<p>10.2.4：为保护百花味网及其使用者及社会公众的权利、财产或人身安全；</p>
<p>10.2.5：其他百花味网有合理理由认为有必要的情况。</p>
</p>
<p>11、关于用户在百花味网的公开使用区域张贴内容：</p>
<p>11.1："公开使用区域"指百花味网上一般公众可以浏览的区域；</p>
<p>11.2：用户在公开使用区域张贴内容，则视为用户授权百花味网对该等内容享有免费使用权，百花味网有权为展示及推广前述张贴的内容之服务目的，对上述内容进行复制、修改，本使用权持续到用户将上述内容删除。</p>
<p>11.3：用户使在百花味网提供的公开使用区域发布内容而导致任何第三方提出索赔要求或衍生的任何损害或损失，由用户自行承担全部责任。</p>
</p>
<p>12、用户不得对百花味网提供的任何服务进行复制、出售或用作其他商业用途。</p>
<p>13、百花味网有权根据运营需要决定是否保留用户博客、文章或其他上载信息。</p>
<p>14、关于链接</p>
<p>百花味网可能会提供与其他国际互联网网站或资源进行链接。对于前述网站或资源是否可以利用，百花味网不予担保。因使用或依赖上述网站或资源所生的损失或损害，应由用户自行承担。</p>
</p>
<p>15、百花味网的知识产权及其他权利</p>
<p>15.1：百花味网对所提供的网络服务及网络服务所使用的软件（包含受知识产权或其他法律保护的资料）享有相应的权利； </p>
<p>15.2：百花味网发布的任何资讯及内容，受到著作权法、商标法、专利法或其他法律的保护；未经百花味网明示授权许可，用户不得进行修改、出租、散布或衍生其他作品； </p>
<p>15.3：百花味网，百花味网logo、设计图样以及其他百花味网图样、产品及服务名称，均由百花味网或相关内容提供方享有知识产权。未经百花味网合法书面授权，任何人不得使用、复制或用作其他用途。</p>
</p>
<p>16、百花味网不保证（包括但不限于）</p>
<p>16.1：网络服务适合用户的所有使用要求；</p>
<p>16.2：网络不受干扰，及时、安全、可靠或不出现错误，包括黑客入侵，网络中断，电信问题及其他不可抗力等；</p>
<p>16.3：用户经由百花味网所取得的任何产品、服务或其他材料符合用户的全部期望。</p>
</p>
<p>
<p>17、由于用户经由百花味网张贴或传送内容、违反服务条款或侵害其他人的任何权利导致任何第三人提出权利主张，用户同意赔偿百花味网及其关联公司、代理人或其他合作伙伴及员工，并使其免受损害。</p>
<p>18、本协议将取代用户先前与百花味网签署或达成的任何协议。本协议和百花味网的其他服务条款构成完整的协议。</p>
<p>19、法律的适用和管辖</p>
<p>本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律，如发生争议首先应友好协商解决；协商不成的，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。本协议因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力。</p>
</p>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
$(function(){
	{set:$callback = IReq::get('callback') ? IFilter::clearUrl(IReq::get('callback')) : IUrl::getRefRoute()}
	$('input[name="callback"]').val("{$callback}");
	$(".form_table input").focus(function(){$(this).addClass('current');}).blur(function(){$(this).removeClass('current');})

	//表单回填
	var formObj = new Form();
	formObj.init({"email":"{$this->email}","username":"{$this->username}"});

	$("#getMobileCode").click(function () {
		var mobile = $("input[name='mobile']").val();
		if (!mobile) {
			var evt = document.createEvent("HTMLEvents");
			evt.initEvent("change", true, true);
			elem = $("input[name='mobile']")[0];
			elem.dispatchEvent(evt);
			return false;
		}
		var self = $(this);
		$(this).attr("disabled", true);
		var countdown = function () {
			var count = 60;
			var id = setInterval(function () {
				var str = count + "秒后重新获取";
				if (count === 0) {
					self.text("获取短信验证码");
					self.attr("disabled", false);
					clearInterval(id);
					return;
				}
				count--;
				self.text(str);
			}, 1000);
		};
		var data = "mobileno=" + mobile;
		$.ajax({
			method: 'POST',
			url: '/x2reg/verifycode?'+data,
			success: function () {
				countdown();
			},
			error: function () {
				var msg = data && data.msg || "系统异常，请稍后再试~";
				alert(msg);
				self.attr("disabled", false);
			}
		});
	})
});
</script>