{set:
    $myCartObj  = new Cart();
    $myCartInfo = $myCartObj->getMyCart();
    $siteConfig = new Config("site_config");
    $callback   = IReq::get('callback') ? urlencode(IFilter::act(IReq::get('callback'),'url')) : '';
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{echo:$siteConfig->name}</title>
    <meta property="qc:admins" content="7106063777610117636" />
    <link type="image/x-icon" href="./favicon.ico" rel="icon">
    <link rel="stylesheet" href="{skin:css/index.css}" /> 
    <link rel="stylesheet" href="{skin:css/common_new.css}">
    <link rel="stylesheet" href="{skin:css/style.css}">
    <link rel="stylesheet" href="{skin:css/baihua.css}">
    {js:jquery}
    {js:form}
    {js:validate}
    {js:dialog}
    {js:artTemplate}
    <script type="text/javascript" src="{theme:javascript/common.js}"></script>
    <script type='text/javascript' src='{theme:javascript/site.js}'></script> 
</head>
<body>
    <div class="top">
        <div class="topbgs w1190">
            <div class="left">
                {if:$this->user} 
                    {echo:$this->user['username']}您好，欢迎来到{echo:$siteConfig->name}！
                    <a href="{url:/simple/logout}" class="reg">退出</a> 
                {else:} 
                    您好，欢迎来到{echo:$siteConfig->name}！ 
                    <a href="{url:/simple/login?callback=$callback}">登录</a> | <a class="reg" href="{url:/simple/reg?callback=$callback}">免费注册</a> 
                {/if}</div>
            <div class="right">
                <a href="{url:/ucenter/index}">我的账户</a> | <a href="{url:/ucenter/order}">我的订单</a> | <a href="{url:/site/help_list}">帮助中心</a>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="head-wrap w1190">
            <div class="logo">
                <a href="{url:}" title="{echo:$siteConfig->name}"><div class="base-icon bhw-logo-1"></div></a>
            </div>
            <div class="logo-text base-icon bhw-title"></div>
            <div class="logo-2 base-icon bhw-logo-2"></div>
            <div class="tel" style="display: none">
                <p>0871-65124158</p>
                <div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=33466543&site=qq&menu=yes" target="_blank">在线客服</a> <b>|</b>
                </div>
                <div class="gwc">
                    <a href="{url:/simple/cart}">我的购物车<b>{$myCartInfo['count']}</b>件</a>
                    <!--购物车浮动div 开始-->
                    <div class="shopping" id='div_mycart' style='display:none;'> </div>
                    <!--购物车浮动div 结束-->
                </div>
                <!--购物车模板 开始-->
                <script type='text/html' id='cartTemplete'>
                <dl class="cartlist">
                    <%for(var item in goodsData){%>
                    <%var data = goodsData[item]%>
                    <dd id="site_cart_dd_<%=item%>">
                        <div class="pic f_l"><img width="55" height="55" src="{webroot:<%=data['img']%>}"></div>
                        <h3 class="title f_l"><a href="{url:/site/products/id/<%=data['goods_id']%>}"><%=data['name']%></a></h3>
                        <div class="price f_r t_r">
                            <b class="block">￥<%=data['sell_price']%> x <%=data['count']%></b>
                            <input class="del" type="button" value="删除" onclick="removeCart('{url:/simple/removeCart}','<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');" />
                        </div>
                    </dd>
                    <%}%>
                    <dd class="static"><span>共<b name="mycart_count"><%=goodsCount%></b>件商品</span>金额总计：<b name="mycart_sum">￥<%=goodsSum%></b></dd>
                    <%if(goodsData){%>
                    <dd class="static">
                        {if:ISafe::get('user_id')}
                        <a class="f_l" href="javascript:void(0)" onclick="deposit_ajax('{url:/simple/deposit_cart_set}');">寄存购物车>></a>
                        {/if}
                        <label class="btn_orange"><input type="button" value="去购物车结算" onclick="window.location.href='{url:/simple/cart}';" /></label>
                    </dd>
                    <%}%>
                </dl>
                </script>
                <!--购物车模板 结束-->
            </div>
        </div>
    </div>
    <div class="header-wrap">
        <div class="navwrap">
            <div id="nav" class="w1190">
                <div class="navbar clearfix" mon="type=mainnav&action=click">
                    <span>|</span>
                    <a class="" href="{url:/site/index}">百花首页</a> 
                    <span>|</span>
                    {query:name=guide}
                    <a title="{$item['name']}" class="" href="{url:$item[link]}">{$item['name']}</a>
                    <span>|</span>
                    {/query}
                </div>
                <div class="category">
                    <h2>百花品类<span class="base-icon bhw-arrow-2"></span></h2>
                    <ul class="category-ul" id="proinfo"> 
                        {query:name=category where=parent_id eq 0 and visibility eq 1 order=sort asc item=$first}
                        <li class="bhw-category-{$key}">
                            <a href="{url:/site/pro_list/cat/$first[id]}">{$first['name']}</a>
                        </li>
                        {/query}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="right-tool">
        <div class="ibar">
            <ul class="ibar-center">
                <li class="ibar-user">
                    <div></div>
                </li>
                <li class="ibar-pay"></li>
                <li class="ibar-support">
                </li>
                <li class="ibar-cart">
                    <div class="ibar-split"></div>
                    
                </li>
            </ul>
            <ul class="ibar-bottom">
                <li class="ibar-gotop"></li>
            </ul>
        </div>
    </div> -->
    {viewcontent}
    <div class="footer7">
        <div class="abody">
            <div class="kfbox7 crz"> 
                <ul class="s6">
                    <li class="t1 im6">联系客服</li>
                    <li>订购热线</li>
                    <li class="t2">0871-65124158</li>
                    <li>在线客服</li>
                    <li class="t3"><a href="http://wpa.qq.com/msgrd?v=3&uin=33466543&site=qq&menu=yes" target="_blank">点击这里进入</a>
                    </li>
                </ul>
                {query:name=help_category where=position_foot eq 1 order=sort ASC,id desc limit=5 item=$helpCat}
                <ul class="s1">
                    <li class="t1 im1"><a href="{url:/site/help_list/id/$helpCat[id]}">{$helpCat['name']}</a></li> 
                    {query:name=help where=cat_id eq $helpCat[id] order=sort ASC,id desc}
                    <li><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></li> 
                    {/query} 
                </ul> 
                {/query}
            </div>
            <div class="clear"></div>
            <div class="line15"></div> {echo:IFilter::stripSlash($siteConfig->site_footer_code)}
            <div class="line10"></div>
        </div>
    </div>
    <!--选择货品添加购物车模板 开始-->
<script type='text/html' id='selectProductTemplate'>
<table width="100%">
    <col />
    <col width="80px" />
    <col width="60px" />
    <%for(var item in productData){%>
    <%item = productData[item]%>
    <tr>
        <td align="left">
            <%for(var spectName in item['specData']){%>
            <%var spectValue = item['specData'][spectName]%>
                <%=spectName%>：<%==spectValue%> &nbsp&nbsp
            <%}%>
        </td>
        <td align="center"><span class="bold red2">￥<%=item['sell_price']%></span></td>
        <td align="right"><label class="btn_gray_s"><input type="button" onclick="joinCart_ajax('<%=item['id']%>','product');" value="购买"></label></td>
    </tr>
    <%}%>
    <tr>
        <td colspan='3' align="left"><a href="{url:/site/products/id/<%=item['goods_id']%>}">查看更多</a></td>
    </tr>
</table>
</script>
<script type='text/javascript'>
    $(function(){
        $('input:text[name="word"]').bind({
            keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
        });
        var mycartLateCall = new lateCall(200,function(){showCart('{url:/simple/showCart}')});
        //购物车div层
        $('.gwc').hover(
            function(){
                mycartLateCall.start();
            },
            function(){
                mycartLateCall.stop();
                $('#div_mycart').hide('slow');
            }
        );
    });
    //[ajax]加入购物车
    function joinCart_ajax(id,type)
    {
        $.getJSON("{url:/simple/joinCart}",{"goods_id":id,"type":type,"random":Math.random()},function(content){
            if(content.isError == false)
            {
                var count = parseInt($('[name="mycart_count"]').html()) + 1;
                $('[name="mycart_count"]').html(count);
                $('.msgbox').hide();
                alert(content.message);
            }
            else
            {
                alert(content.message);
            }
        });
    }
    //列表页加入购物车统一接口
    function joinCart_list(id)
    {
        $.getJSON('{url:/simple/getProducts}',{"id":id},function(content){
            if(!content)
            {
                joinCart_ajax(id,'goods');
            }
            else
            {
                var selectProductTemplate = template.render('selectProductTemplate',{'productData':content});
                $('#product_box_'+id).html(selectProductTemplate);
                $('#product_box_'+id).parent().show();
            }
        });
    }
</script>
</body>
</html>
